# Hugo default output directory
/public
/resources/_gen

# Node
/node_modules
package-lock.json

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# IDEs
.idea/
.vscode/

# drafts
/drafts

# temp
/temp
